<% provide :title, t("static_page.contact.page_title") %>
<h1><%= t("static_page.contact.h1") %></h1>
<p>
  <%= t("static_page.contact.p") %>
  <a href="http://www.railstutorial.org/contact"><%= t("static_page.contact.a") %></a>.
</p>
