<% provide :title, t("static_page.home.page_title") %>
<h1><%= t "static_page.home.h1" %></h1>
<p>
  <%= t("static_page.home.p1") %>
  <a href="http://www.railstutorial.org/"><%= t("static_page.home.a") %></a>
  <%= t("static_page.home.p2") %>
</p>
