# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: c7579e2c6e3ce1989da294ddedb8c96be09577272c70dd4bffb74d466fb7c2fb4a8695fb8255809ef46c9132c5e6c7a83f18555e2d572674b8b5ce23918cce4d

test:
  secret_key_base: d3a2c002120196689df1cb9ed2e9b0189dd6bf895600f93429d2de559f5dc4a5832948a8c0466213c4cf34b0d53bfc4483e5aabfd8061daa30a3c294009e1b05

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
